@font-face {
  font-family: 'wpdanceclaratheme';
  src:  url('fonts/wpdanceclaratheme.eot?kxz60p');
  src:  url('fonts/wpdanceclaratheme.eot?kxz60p#iefix') format('embedded-opentype'),
    url('fonts/wpdanceclaratheme.ttf?kxz60p') format('truetype'),
    url('fonts/wpdanceclaratheme.woff?kxz60p') format('woff'),
    url('fonts/wpdanceclaratheme.svg?kxz60p#wpdanceclaratheme') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wpdanceclaratheme-icon-"], [class*=" wpdanceclaratheme-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wpdanceclaratheme' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpdanceclaratheme-icon-infinity:before {
  content: "\e90a";
}
.wpdanceclaratheme-icon-filter:before {
  content: "\e90b";
}
.wpdanceclaratheme-icon-heart-o:before {
  content: "\e90c";
}
.wpdanceclaratheme-icon-heart:before {
  content: "\e90d";
}
.wpdanceclaratheme-icon-palette:before {
  content: "\e90e";
}
.wpdanceclaratheme-icon-teaser:before {
  content: "\e900";
}
.wpdanceclaratheme-icon-about:before {
  content: "\e901";
}
.wpdanceclaratheme-icon-contact:before {
  content: "\e902";
}
.wpdanceclaratheme-icon-visual-composer:before {
  content: "\e90f";
}
.wpdanceclaratheme-icon-woocommerce:before {
  content: "\e910";
}
.wpdanceclaratheme-icon-preset:before {
  content: "\e914";
}
.wpdanceclaratheme-icon-sass:before {
  content: "\e912";
}
.wpdanceclaratheme-icon-bootstrap:before {
  content: "\e913";
}
.wpdanceclaratheme-icon-faq:before {
  content: "\e903";
}
.wpdanceclaratheme-icon-team-member:before {
  content: "\e904";
}
.wpdanceclaratheme-icon-price-table:before {
  content: "\e905";
}
.wpdanceclaratheme-icon-custom-header:before {
  content: "\e906";
}
.wpdanceclaratheme-icon-fullwidth:before {
  content: "\e907";
}
.wpdanceclaratheme-icon-leftsidebar:before {
  content: "\e908";
}
.wpdanceclaratheme-icon-rightsidebar:before {
  content: "\e909";
}
.wpdanceclaratheme-icon-apps:before {
  content: "\e5c3";
}
.wpdanceclaratheme-icon-photolib:before {
  content: "\e413";
}
.wpdanceclaratheme-icon-error:before {
  content: "\e000";
}
.wpdanceclaratheme-icon-font:before {
  content: "\e167";
}
.wpdanceclaratheme-icon-color:before {
  content: "\e23a";
}
.wpdanceclaratheme-icon-font2:before {
  content: "\e23c";
}
.wpdanceclaratheme-icon-help:before {
  content: "\e887";
}
.wpdanceclaratheme-icon-help2:before {
  content: "\e8fd";
}
.wpdanceclaratheme-icon-menu:before {
  content: "\e5d2";
}
.wpdanceclaratheme-icon-store:before {
  content: "\e563";
}
.wpdanceclaratheme-icon-subtitles:before {
  content: "\e048";
}
.wpdanceclaratheme-icon-tune:before {
  content: "\e429";
}
.wpdanceclaratheme-icon-vibration:before {
  content: "\e62d";
}
.wpdanceclaratheme-icon-view-agenda:before {
  content: "\e8e9";
}
.wpdanceclaratheme-icon-view-array:before {
  content: "\e8ea";
}
.wpdanceclaratheme-icon-view-carousel:before {
  content: "\e8eb";
}
.wpdanceclaratheme-icon-view-column:before {
  content: "\e8ec";
}
.wpdanceclaratheme-icon-view-comfy:before {
  content: "\e42a";
}
.wpdanceclaratheme-icon-view-compact:before {
  content: "\e42b";
}
.wpdanceclaratheme-icon-view-day:before {
  content: "\e8ed";
}
.wpdanceclaratheme-icon-view-headline:before {
  content: "\e8ee";
}
.wpdanceclaratheme-icon-view-list:before {
  content: "\e8ef";
}
.wpdanceclaratheme-icon-view-module:before {
  content: "\e8f0";
}
.wpdanceclaratheme-icon-view-quilt:before {
  content: "\e8f1";
}
.wpdanceclaratheme-icon-view-stream:before {
  content: "\e8f2";
}
.wpdanceclaratheme-icon-view-week:before {
  content: "\e8f3";
}
.wpdanceclaratheme-icon-wallpaper:before {
  content: "\e1bc";
}
.wpdanceclaratheme-icon-web:before {
  content: "\e051";
}
.wpdanceclaratheme-icon-testimonial:before {
  content: "\f04f";
}
.wpdanceclaratheme-icon-eye:before {
  content: "\f04e";
}
.wpdanceclaratheme-icon-settings:before {
  content: "\f07c";
}
.wpdanceclaratheme-icon-infinity2:before {
  content: "\e911";
}

