

.small09 {
	font-size: $style_general_body_font_size * 12 / 13; // 12px
}


.site-footer {

	/**
	 * Update text color of input box in Footer section
	 */
	input[type="text"], 
	input[type="search"], 
	input[type="email"], 
	input[type="url"], 
	input[type="number"], 
	textarea, 
	.form-control {
		@include style_footer_color1;
	}
}


/**
 * VC Icon with class 'wpdanceclaratheme-icon' in Footer
 */
.site-footer .vc_icon_element.vc_icon_element-outer.wpdanceclaratheme-icon {
	.vc_icon_element-inner.vc_icon_element-outline {
		border-color: $style_footer_color4;
		border-width: 1px;

		&:hover, &:focus, &.focus {
			border-color: $style_footer_color2;

			&[class*='vc_icon_element-color-'] .vc_icon_element-icon {
				@include style_footer_color2;
			}
		}
	}

	.vc_icon_element-inner.vc_icon_element-size-xs.vc_icon_element-have-style-inner {
		width: 30px !important;
		height: 30px !important;
	}

	.vc_icon_element-inner[class*='vc_icon_element-color-'] .vc_icon_element-icon {
		@include style_footer_color4;
	}
}




/**
 * VC Single Banner Image shortcode
 * ----------------------------------------------------------------------------
 */
 .wpdanceclaratheme_single_image_hover .btn {
	font-weight: bold;
 }




/**
 * VC Tabs .vc_tta-tabs
 * ----------------------------------------------------------------------------
 */
.wpdanceclaratheme-tabs-style-2.vc_tta-color-grey.vc_tta-style-outline {
	.vc_tta-tab > a {
		font-size: $style_general_body_font_size * 14 / 13;
	}
}


/**
 * WooCommerce Products
 * ----------------------------------------------------------------------------
 */

.woocommerce ul.products li.product {
	@include style_general_bgcolor3;

	h3 {
		padding: 2em 0 1em;
	}

	.wpdanceclaratheme-product-details {
		.star-rating {
			font-size: 9px;
			letter-spacing: 0.2em;
			margin-bottom: 1em;

			@at-root .woocommerce .star-rating {
				color: #ffad10;
				width: 6.4em;
			}
		}

		.price {
			font-size: 1em;
			font-weight: bold;
			margin-bottom: 2em;
			@include style_general_color1;
		}
	}
	
}



/**
 * Grid Item: Comeback Furniture - Featured Post
 * 
 * .wpdanceclaratheme-grid-item-comeback-furniture-featured-post
 * ----------------------------------------------------------------------------
 */

.wpdanceclaratheme-grid-item-comeback-furniture-featured-post {

	.vc_gitem-post-data {
		text-shadow: 0 0 5px rgba(0, 0, 0, .5)
	}

	.vc_btn3.vc_btn3-style-outline {
		padding: 10px 30px;
		text-shadow: 0 0 5px rgba(0, 0, 0, .5);

	}

	.vc_gitem-post-data-source-post_excerpt {
		font-weight: 300;
		letter-spacing: 1px;
	}
}




/**
 * Grid Item: Comeback Furniture - Listed Post
 * 
 * .wpdanceclaratheme-grid-item-comeback-furniture-listed-post
 * ----------------------------------------------------------------------------
 */

.wpdanceclaratheme-grid-item-comeback-furniture-listed-post {

	// Post Title
	.vc_gitem-post-data-source-post_title > * {
		font-size: if ($style_loop_meta_font_size, $style_loop_meta_font_size, $style_general_body_font_size);
		text-transform: none;
		font-weight: 600;
	}

	// Other
	.vc_gitem-post-data {
		text-transform: none;
	}

}



