
$style_general_color2: rgb(141, 206, 40) !default;

$style_general_bgcolor2: #272727 !default;

$style_general_body_font_weight: 300 !default;

$style_footer_color1: rgb(161, 161, 161) !default;

$style_menu_root_font_weight: normal !default;
$style_menu_root_bgcolor2: transparent !default;
$style_menu_root_bordercolor: transparent !default;

$style_menu_sub_font_size: 13px !default;
$style_menu_sub_bgcolor1: #f7f7f7 !default;
$style_menu_sub_bordercolor: #ccc !default;

$style_general_body_line_height: 1.6 !default;

//
// POSTS IN LOOP
//

$style_loop_title_font_size: 16px !default;

$style_loop_content_font_family: Lato !default;



//
// PRODUCT LIST
// 

$style_product_list_title_font_size: 14px !default;