
$style_general_color2: #ef164b !default;
$style_general_bgcolor3: #efefef !default;

$style_general_body_font_family: "Nunito" !default;
$style_general_body_font_weight: 300 !default;

$style_product_list_title_font_size: 15px !default;
$style_product_list_title_font_weight: 400 !default;

$style_menu_root_font_weight: normal !default;
$style_menu_root_bgcolor2: transparent !default;
$style_menu_root_bordercolor: transparent !default;

$style_menu_sub_font_size: 14px !default;
$style_menu_sub_font_weight: 300 !default;
$style_menu_sub_bgcolor1: #fff !default;
$style_menu_sub_bordercolor: #eee !default;
